version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: warriors_db
    environment:
      POSTGRES_DB: warriors
      POSTGRES_USER: warrior_user
      POSTGRES_PASSWORD: warrior_pass
    command:
      - "postgres"
      - "-c"
      - "max_connections=200"
      - "-c"
      - "shared_buffers=512MB"
      - "-c"
      - "effective_cache_size=2GB"
      - "-c"
      - "work_mem=16MB"
      - "-c"
      - "maintenance_work_mem=128MB"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U warrior_user -d warriors"]
      interval: 10s
      timeout: 5s
      retries: 5
    ulimits:
      nofile:
        soft: 65536
        hard: 65536

  app1:
    build:
      context: .
    ports:
      - "8081:8080"
    container_name: java_app1
    environment:
      DB_HOST: postgres
      DB_NAME: warriors
      DB_USER: warrior_user
      DB_PASSWORD: warrior_pass
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app_network
    deploy:
      resources:
        limits:
          cpus: "1.5"
          memory: "3.0G"
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
      nproc:
        soft: 4096
        hard: 4096

  app2:
    build:
      context: .
    ports:
      - "8082:8080"
    container_name: java_app2
    environment:
      DB_HOST: postgres
      DB_NAME: warriors
      DB_USER: warrior_user
      DB_PASSWORD: warrior_pass
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app_network
    deploy:
      resources:
        limits:
          cpus: "1.5"
          memory: "3.0G"
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
      nproc:
        soft: 4096
        hard: 4096

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./nginx-logs:/var/log/nginx
    depends_on:
      - app1
      - app2
    networks:
      - app_network
    deploy:
      resources:
        limits:
          cpus: "1.5"
          memory: "3.0G"
    ulimits:
      nofile:
        soft: 65536
        hard: 65536

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data: